:root {
  --global-font-family: Verdana, sans-serif;
  --color-primary: #FF9F1C;
  --color-secondary: #50514f;
  --color-background-primary: #f1f7ed;
  --color-error: #ff3a20;
  --color-warning: #ffe066;
  --color-success: #2ec4b6;
  --color-information: #457b9d;
  --color-background: #F9F7F3;
  --color-text-primary: #212529;
  --color-text-secondary: #8a817c;
  --color-alt-text-primary: #ffffff;
  --color-alt-text-secondary: #CCC5B9;
}

.body {
  background-color: var(--color-background-primary);
  margin: 0;
  /* border: 10px solid var(--color-white); */
  overflow-x: hidden
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}


.information-text {
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center
}

.name {
  margin: 5px 0;
  font-size: 80px;
  font-weight: bolder;
  letter-spacing: 1.5px;
  color: var(--color-text-primary);
}

.tag, a {
  color: var(--color-text-secondary);
  font-size: 25px;
  font-weight: 600;
  margin: 5px 0;

  /* a {
    color: var(--color-text-secondary);
  } */
}

.footer {
  background-color: var(--color-secondary);
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-icon-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  height: 60%;
  width: 60%;
}